// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.list-item {
    width: 20%;
    max-width: 216px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #333 !important;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: none;
    box-sizing: border-box
}

.card-custom {
    margin: 5px;
    background-color: #000;
    color: #fff;
    width: 100%;
    max-width: 216px;
    height: 150px;
}

.card-custom img {
    max-height: 200px;
    height: 120px;
    object-fit:cover;
}